// modules: variables

// colors
$orange: #da552f;
$dark-orange: #8a3219;
$gray: #756A66;
$dark-gray: #534540;
$green: #00b27f;
$dark-green: #007f5b;
$white: #ffffff;

// screen size
$mobile: "screen and (max-width: 374px)";

// images
$iphone: url("../img/iphone6_white.png");
$appicon: url('../img/appicon.png');
$appstore: url('../img/appstore.png') no-repeat;
